<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
</head>

<body>
  <ol>
    {{range $index, $element := .Hobbies}}
    <li>{{$index}} - {{$element}}</li>
    {{else}}
    <li>Tidak ada hobi</li>
    {{end}}
  </ol>
</body>

</html>